$themes: (
  light: (
    color-background: #fafafa,
    color-background-darker: #ececec,
    color-text: #202329,
    color-text-contrast: whitesmoke,
    color-header: #a6a6a6,
    color-tooltip: rgba(#a6a6a6, 0.3),
    color-primary: #f8c300,
    color-primary-shaded: #faa620,
    box-shadow: 0 -5px 40px 0 rgba(30, 30, 30, 0.2),
  ),
  dark: (
    color-background: #2b3138,
    color-background-darker: #202329,
    color-text: whitesmoke,
    color-text-contrast: #202329,
    color-header: #a6a6a6,
    color-tooltip: rgba(#a6a6a6, 0.3),
    color-primary: #f8c300,
    color-primary-shaded: #faa620,
    box-shadow: 0 -5px 40px 0 rgba(30, 30, 30, 0.4),
  ),
);
