//Colors
$colorPrimary: #f8c300;
$colorPrimaryShaded: #faa620;
$colorIcons: #e2e2e2;
$colorBackground: #fff;
$colorBackgroundShaded: #f7f7f7;
$colorBlack: #000;

// Transition
$transition: all 0.5s ease-in-out;

$colors: (
  "primary": $colorPrimary,
  "primaryDark": $colorPrimaryShaded,
  "trail": $colorPrimary,
  "trailDark": $colorPrimaryShaded,
);

:export {
  @each $name, $value in $colors {
    #{unquote($name)}: $value;
  }
}
