//Colors
$colorPrimary: #f8c300;
$colorPrimaryShaded: #faa620;
$colorPaused: #f8c20059;
$colorPausedShaded: #faa62059;
$colorIcons: #e2e2e2;

:export {
  primaryColor: $colorPrimary;
  primaryColorShaded: colorPrimaryShaded;
}
