:export {
  primary: #f8c300;
  primaryDark: #faa620;
  trail: #f8c300;
  trailDark: #faa620;
}

/**
 * theme-aware - Change color of a css property based on the currently active theme
 *
 * @param  {key}     CSS property
 * @param  {color}   Color name defined in the themes under _color-palette.scss
 *
 * @example - @include theme-aware('background', 'color-background');
 * @returns - background: #FFF;
 */
/** 
* scrollbars mixin
 * @param  {size}                Scrollbar handler width & height
 * @param  {foreground-color}    Scrollbar foreground color
 * @param  {background-color}    Scrollbar background color
* 
* @example - @include scrollbars(10px, pink, red);
*/
.overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: opacity 300ms;
  z-index: 100;
}

.popup {
  margin: 70px auto;
  padding: 40px;
  border-radius: 5px;
  width: 100%;
  min-width: 300px;
  max-width: 400px;
  position: relative;
  transition: all 5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  gap: 10px;
}
.theme-light .popup {
  color: #202329;
  transition: all 0.5s ease-in-out;
}
.theme-dark .popup {
  color: whitesmoke;
  transition: all 0.5s ease-in-out;
}
.theme-light .popup {
  background-color: #fafafa;
  transition: all 0.5s ease-in-out;
}
.theme-dark .popup {
  background-color: #2b3138;
  transition: all 0.5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
}

.popup button {
  width: 100%;
  padding: 0.5em;
  border: 1px solid transparent;
  border-radius: 12px;
  font-size: 1.2em;
}

.theme-light .btn-primary {
  color: whitesmoke;
  transition: all 0.5s ease-in-out;
}
.theme-dark .btn-primary {
  color: #202329;
  transition: all 0.5s ease-in-out;
}
.theme-light .btn-primary {
  background-color: #f8c300;
  transition: all 0.5s ease-in-out;
}
.theme-dark .btn-primary {
  background-color: #f8c300;
  transition: all 0.5s ease-in-out;
}
.theme-light .btn-primary:focus {
  background-color: #202329;
  transition: all 0.5s ease-in-out;
}
.theme-dark .btn-primary:focus {
  background-color: whitesmoke;
  transition: all 0.5s ease-in-out;
}

.theme-light .btn-secondary {
  color: #202329;
  transition: all 0.5s ease-in-out;
}
.theme-dark .btn-secondary {
  color: whitesmoke;
  transition: all 0.5s ease-in-out;
}
.theme-light .btn-secondary {
  background-color: #ececec;
  transition: all 0.5s ease-in-out;
}
.theme-dark .btn-secondary {
  background-color: #202329;
  transition: all 0.5s ease-in-out;
}
.theme-light .btn-secondary:focus {
  color: whitesmoke;
  transition: all 0.5s ease-in-out;
}
.theme-dark .btn-secondary:focus {
  color: #202329;
  transition: all 0.5s ease-in-out;
}
.theme-light .btn-secondary:focus {
  background-color: #202329;
  transition: all 0.5s ease-in-out;
}
.theme-dark .btn-secondary:focus {
  background-color: whitesmoke;
  transition: all 0.5s ease-in-out;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

h2 {
  margin: 0.5em 0;
}

.App {
  text-align: center;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #303d44;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.container {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.theme-light .container {
  background-color: #ececec;
  transition: all 0.5s ease-in-out;
}
.theme-dark .container {
  background-color: #202329;
  transition: all 0.5s ease-in-out;
}

header {
  font-weight: 600;
  font-size: 2em;
  margin: 1em 0;
  padding: 0 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 11;
}
.theme-light header {
  color: #202329;
  transition: all 0.5s ease-in-out;
}
.theme-dark header {
  color: whitesmoke;
  transition: all 0.5s ease-in-out;
}
header i {
  font-size: 0.8em;
}
header i:hover {
  cursor: pointer;
}

.timers-panel {
  display: flex;
  position: absolute;
  bottom: 30px;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  transition: all 0.8s ease-in-out;
  padding-bottom: 30px;
  z-index: 1;
}

.timer-selector-wrapper {
  width: 100%;
  height: 220px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1em;
}
.timer-selector-wrapper::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.timer-selector-wrapper::-webkit-scrollbar-thumb {
  background: #f8c300;
}
.timer-selector-wrapper::-webkit-scrollbar-track {
  background: #fce180;
}
.timer-selector-wrapper {
  scrollbar-face-color: #f8c300;
  scrollbar-track-color: #fce180;
}

.timers-headers {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 1em;
}

.timers-headers > div {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 500;
  width: 18%;
}
.theme-light .timers-headers > div {
  color: #a6a6a6;
  transition: all 0.5s ease-in-out;
}
.theme-dark .timers-headers > div {
  color: #a6a6a6;
  transition: all 0.5s ease-in-out;
}

.timers-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px 5px;
  flex-wrap: wrap;
}

.timer-btn {
  border: 0;
  box-shadow: 0 0 4px rgba(248, 195, 0, 0.6);
  width: 18%;
  border-radius: 5px;
  padding: 0.3em 0;
  font-size: 1.1em;
}
.theme-light .timer-btn {
  color: #f8c300;
  transition: all 0.5s ease-in-out;
}
.theme-dark .timer-btn {
  color: #f8c300;
  transition: all 0.5s ease-in-out;
}
.theme-light .timer-btn {
  background-color: #fafafa;
  transition: all 0.5s ease-in-out;
}
.theme-dark .timer-btn {
  background-color: #2b3138;
  transition: all 0.5s ease-in-out;
}

.theme-light .timer-btn.current {
  color: whitesmoke;
  transition: all 0.5s ease-in-out;
}
.theme-dark .timer-btn.current {
  color: #202329;
  transition: all 0.5s ease-in-out;
}
.theme-light .timer-btn.current {
  background-color: #f8c300;
  transition: all 0.5s ease-in-out;
}
.theme-dark .timer-btn.current {
  background-color: #f8c300;
  transition: all 0.5s ease-in-out;
}

.shadow-circle {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -520px;
  overflow: hidden;
  width: 1100px;
  height: 900px;
  border-radius: 50%;
  transition: all 0.8s ease-in-out;
  z-index: 2;
}
.theme-light .shadow-circle {
  box-shadow: 0 -5px 40px 0 rgba(30, 30, 30, 0.2);
  transition: all 0.5s ease-in-out;
}
.theme-dark .shadow-circle {
  box-shadow: 0 -5px 40px 0 rgba(30, 30, 30, 0.4);
  transition: all 0.5s ease-in-out;
}
.theme-light .shadow-circle {
  background-color: #fafafa;
  transition: all 0.5s ease-in-out;
}
.theme-dark .shadow-circle {
  background-color: #2b3138;
  transition: all 0.5s ease-in-out;
}

.shadow-circle.opened {
  top: -250px;
}

.i-chevron {
  position: absolute;
  bottom: 0;
  z-index: 1;
  font-size: 3em;
  margin: 0 auto;
  transition: all 0.8s ease-in-out;
}
.theme-light .i-chevron {
  color: #202329;
  transition: all 0.5s ease-in-out;
}
.theme-dark .i-chevron {
  color: whitesmoke;
  transition: all 0.5s ease-in-out;
}

.i-chevron.opened {
  transform: scaleY(-1);
}

@media screen and (max-width: 400px) {
  .timers-panel {
    max-width: 100vw;
  }
}
.settings-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
}
.settings-icon i {
  -o-object-fit: cover;
     object-fit: cover;
}

.timer-body {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 5;
}
.theme-light .timer-body {
  background: #fafafa;
  transition: all 0.5s ease-in-out;
}
.theme-dark .timer-body {
  background: #2b3138;
  transition: all 0.5s ease-in-out;
}
.theme-light .timer-body {
  color: #f8c300;
  transition: all 0.5s ease-in-out;
}
.theme-dark .timer-body {
  color: #f8c300;
  transition: all 0.5s ease-in-out;
}
.timer-body h3 {
  text-transform: uppercase;
  font-size: 1em;
}
.timer-body h3:first-child {
  margin-top: 1em;
}
.timer-body h3:last-child {
  margin-bottom: 1em;
}

.timer-body.inactive {
  background: radial-gradient(#f8c300, #faa620);
}
.theme-light .timer-body.inactive {
  color: #ececec;
  transition: all 0.5s ease-in-out;
}
.theme-dark .timer-body.inactive {
  color: #202329;
  transition: all 0.5s ease-in-out;
}

.timer-clock {
  font-size: 3em;
}

.timer-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 330px;
  z-index: 3;
}
.theme-light .timer-background {
  background-color: #fafafa;
  transition: all 0.5s ease-in-out;
}
.theme-dark .timer-background {
  background-color: #2b3138;
  transition: all 0.5s ease-in-out;
}

.timer-wrapper {
  position: relative;
  z-index: 4;
}
.timer-wrapper div {
  z-index: 5;
}
.timer-wrapper div svg {
  position: relative;
  z-index: 6;
  filter: drop-shadow(0 0px 3px rgba(0, 0, 0, 0.1));
}
.timer-wrapper div svg path:first-child {
  transition: all 0.5s ease-in-out;
  z-index: 7;
}
.timer-wrapper div svg path:last-child {
  z-index: 8;
}

.checkmark {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: green;
  stroke-miterlimit: 10;
  stroke-dashoffset: 0;
  margin: auto;
}

.settings-menu {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
  height: 300px;
  min-height: 100%;
  padding: 2em;
}
.theme-light .settings-menu {
  background-color: #ececec;
  transition: all 0.5s ease-in-out;
}
.theme-dark .settings-menu {
  background-color: #202329;
  transition: all 0.5s ease-in-out;
}
.theme-light .settings-menu {
  color: #202329;
  transition: all 0.5s ease-in-out;
}
.theme-dark .settings-menu {
  color: whitesmoke;
  transition: all 0.5s ease-in-out;
}

.hidden {
  display: none;
}

.slider {
  position: relative;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 33% 33% 33%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  width: 100%;
  height: 48px;
  border-radius: 24px;
  transition: grid 1s ease-in-out;
}
.theme-light .slider {
  background-color: #fafafa;
  transition: all 0.5s ease-in-out;
}
.theme-dark .slider {
  background-color: #2b3138;
  transition: all 0.5s ease-in-out;
}

.selector {
  display: flex;
  grid-row: 1/2;
  grid-column: 2/3;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 24px;
  transition: grid 1s ease-in-out;
}
.theme-light .selector {
  background-color: #f8c300;
  transition: all 0.5s ease-in-out;
}
.theme-dark .selector {
  background-color: #f8c300;
  transition: all 0.5s ease-in-out;
}

.slider.left {
  grid-template-columns: 0% 33% 67%;
}

.slider.center {
  grid-template-columns: 33% 33% 34%;
}

.slider.right {
  grid-template-columns: 67% 33% 0%;
}

.selector-dummy {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100%;
}

.options-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-option {
  width: 34%;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}
.theme-light .slider-option.active {
  color: whitesmoke;
  transition: all 0.5s ease-in-out;
}
.theme-dark .slider-option.active {
  color: #202329;
  transition: all 0.5s ease-in-out;
}

.dropdown-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
}
.theme-light .dropdown-wrapper {
  background-color: #fafafa;
  transition: all 0.5s ease-in-out;
}
.theme-dark .dropdown-wrapper {
  background-color: #2b3138;
  transition: all 0.5s ease-in-out;
}
.dropdown-wrapper.active {
  border-radius: 24px 24px 0 0;
}

.dropdown-value {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 100%;
  height: 48px;
  border-radius: 24px;
}
.theme-light .dropdown-value {
  background-color: #fafafa;
  transition: all 0.5s ease-in-out;
}
.theme-dark .dropdown-value {
  background-color: #2b3138;
  transition: all 0.5s ease-in-out;
}

.dropdown {
  position: absolute;
  top: 50px;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 100%;
  border-radius: 24px;
  cursor: pointer;
}
.theme-light .dropdown {
  background-color: #fafafa;
  transition: all 0.5s ease-in-out;
}
.theme-dark .dropdown {
  background-color: #2b3138;
  transition: all 0.5s ease-in-out;
}
.dropdown.active {
  display: flex;
  border-radius: 0 0 24px 24px;
}

.weather-stats-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 120px;
  gap: 1em;
  row-gap: 2em;
  padding: 0 2em;
  z-index: 0;
}
.weather-stats-container .weather-stat {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5em;
  width: 47%;
}
.theme-light .weather-stats-container .weather-stat {
  color: #202329;
  transition: all 0.5s ease-in-out;
}
.theme-dark .weather-stats-container .weather-stat {
  color: whitesmoke;
  transition: all 0.5s ease-in-out;
}
.weather-stats-container .weather-stat .wind-icon-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.weather-stats-container .weather-stat .wind-icon-wrapper span {
  font-size: 0.8em;
}
.weather-stats-container .weather-stat i {
  font-size: 2em;
}
.weather-stats-container .weather-stat .weather-stat-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3em;
}
.weather-stats-container .weather-stat .weather-stat-data .stat-value {
  font-size: 1.5em;
}
.weather-stats-container .weather-stat .weather-stat-data .stat-value.uv-low {
  color: #558b2f;
}
.weather-stats-container .weather-stat .weather-stat-data .stat-value.uv-moderate {
  color: #f9a825;
}
.weather-stats-container .weather-stat .weather-stat-data .stat-value.uv-high {
  color: #ef6c00;
}
.weather-stats-container .weather-stat .weather-stat-data .stat-value.uv-veryhigh {
  color: #b71c1c;
}
.weather-stats-container .weather-stat .weather-stat-data .stat-value.uv-extreme {
  color: #6a1b9a;
}
.weather-stats-container .weather-stat .weather-stat-data .stat-name {
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.theme-light .weather-stats-container .weather-stat .weather-stat-data .stat-name {
  color: #a6a6a6;
  transition: all 0.5s ease-in-out;
}
.theme-dark .weather-stats-container .weather-stat .weather-stat-data .stat-name {
  color: #a6a6a6;
  transition: all 0.5s ease-in-out;
}

.weather-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
  align-items: flex-end;
  width: 100%;
  padding: 1em;
  font-size: 0.8em;
}
.theme-light .weather-info {
  color: rgba(166, 166, 166, 0.3);
  transition: all 0.5s ease-in-out;
}
.theme-dark .weather-info {
  color: rgba(166, 166, 166, 0.3);
  transition: all 0.5s ease-in-out;
}/*# sourceMappingURL=main.css.map */